a{
	text-decoration: none;
	color:#fff;
}
body{
	margin:0px;
	padding:0px;
}
#header{
	height:12%;
	background: #3e3e3e;
	padding:20px;
}
.makeMeDroppable{


}

.hovered{
border: 2px solid #3e3e3e;
border-radius: 10px;
}

#titulo{
	color:#fff;
	font-size: 20px;
	font-weight:bold;
}
.btn{
	padding:10px;
	background: #3e3e3e;
	color:#fff;
	border-radius: 10px;
	border: 2px solid #fff;

}
.btn:hover{
	background: #2d2d2d;
	cursor:pointer;
}
#nav{
	width:35%;
	position:absolute;
	top:20px;
	right:15px;
	text-align: right;
}
.directorio{
	width:100%;
	margin-top:30px;
	overflow:auto;
	overflow-y:hidden;
	color:#fff;
	display: inline-block;
	white-space: nowrap;
	font-size: 20px;
}
.contenido{
	height:54%;
	width:100%;
	background:#fff;
	overflow:scroll;
	overflow-x:hidden;
	padding:0px 20px 0px 20px;

}
.contenido_div{
	width:100%;
	height:32%;
	padding:10px;
	overflow:auto;
	overflow-y:hidden;
	color:#3e3e3e;
	white-space: nowrap;
}
.margin10{
	margin:10px;
}
.nueva-carpeta, .editar-carpeta, .borrar-carpeta, .subir-archivo,
.editar-archivo, .borrar-archivo{
	/*padding:15px;*/
	padding:15px 45px 15px 45px;
	text-align: center;
	background: #fff;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	-webkit-transform:translate(-50%, -50%);
	z-index:15;
	border-radius: 10px;
}
.nueva-carpeta-title, .editar-carpeta-title, 
.borrar-carpeta-title, .subir-archivo-title,
.editar-archivo-title, .borrar-archivo-title{
	font-weight: bolder;
}
.nueva-carpeta-cont, .editar-carpeta-cont, 
.borrar-carpeta-cont, .subir-archivo-cont,
.editar-archivo-cont, .borrar-archivo-cont{
	padding:10px;
}
#name, .newname, .inputname{
	text-align: center;
	padding:5px;
}
.erase, .erasefile{
	position:relative;
	padding:5px; 
	background:#3e3e3e;
	border-radius: 10px 0px 0px 10px;
	font-size: 39px;
	border:1px solid #fff;
	float:left;
	height: 20px;
	color:#fff;
}
.edit, .editfile{
	position:relative;
	padding:5px; 
	background:#3e3e3e;
	border:1px solid #fff;
	float:left;
	height: 20px;
	color:#fff;
}
.erase:hover, .erasefile:hover{
	cursor:pointer;
	background: #e55;
}
.edit:hover, .editfile:hover{
	cursor:pointer;
	background: #99e;
}
.pantalla{
	width:100%;
	height:100%;
	background: #3e3e3e;
	z-index:10;
	position:absolute;
	top:0px;
	left:0px;
	opacity:.8;
}
.oculto{
	visibility:hidden;
}
.visible{
	visibility: visible;
}
.folder_content{
width:100px;
height:30px;
font-size: 15px;
background: #5e5e5e;
color:#fff;
margin-right:10px;
padding:10px;
display:inline-block;
text-align: center;
overflow: auto;
overflow-y:hidden;
white-space: nowrap; 
float:left;
border-radius: 0px 10px 10px 10px;
}

.folder_content_padre{
width:500px;
height:35px;
font-size: 15px;
background: #8e8e8e;
color:#fff;
margin-left:5px;
margin-right: 10px;
padding:10px;
display:inline-block;
text-align: center;
overflow: auto;
overflow-y:hidden;
white-space: nowrap; 
border-radius: 0px 0px 10px 10px;
}

.file{
width:80px;
height:30px;
background: #3e3e3e;
font-size: 13px;
color:#fff;
margin-right:10px;
padding:10px;
display:inline-block;
text-align: center;
overflow: auto;
overflow-y:hidden;
white-space: nowrap; 
float:left;
border-radius: 0px 10px 10px 10px;
}

.folder_link{
padding:15px 10px 0px 0px;

}
::-webkit-scrollbar {
    width: .3em; 
    background: transparent;  
    height:.3em;
}

::-webkit-scrollbar-thumb {
    background: gray;
    width:1px;
    border-radius: 10px;
}

.dropzone{
	position:absolute;
	bottom:0px;
	right:0px;
	width:100%;
	margin: 0px;
}
#subtitle{
	color:#3e3e3e;
	margin: 7px;
	font-size: 16px;
}